<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Auther:</strong>
    <%= book.auther %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= book.published_at %>
  </p>

</div>
