<p style="color: green"><%= notice %></p>

<h1>Counters</h1>

<div id="counters">
  <% @counters.each do |counter| %>
    <%= render counter %>
    <p>
      <%= link_to "Show this counter", counter %>
    </p>
  <% end %>
</div>

<%= link_to "New counter", new_counter_path %>
